nav{
  background-color: black;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

li{
  list-style: none;
  padding: 2rem;
}

a li{
  color: white;
}
.red{
  background-color: red;
  color:white;
}
